<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Ter form</title>
</head>
<body>
<hl>OopMa 0T3biBa</hl>
<form method="post" enctype="multipart/form-data" action="/form/' 
  <label for="feedback-text"> 0T3biB:
  <input id="feedback-text" type="text" name="text">
  <label for="feedback-grade"> OpeHKa:
  <input id="feedback-grade" type="number" name="grade">
  <label for="feedback-image"> (DoTorpacjMfl:
  <input id="feedback-image" type="file" name="image">
  <input id="feedback-submit" type="submit">
</form>
</body>
</html>
